html {
  background-color: #fafafa;
}

button.navbar-item {
  background-color: #fafafa;
  border: none;
}

a {
  color: #50bbd7;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .navbar-start {
    display: flex;
  }
  .navbar-item-mob {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .box {
    width: 70%;
    margin: 0 auto;
  }
  .login-section {
    width: 50%;
    margin: 0 auto;
  }
}

.section {
  padding-top: 1.5rem;
}

.box {
  padding: 1rem;
}

.card-header-title {
  padding-left: 1.4rem;
  color: #3298dc;
  font-size: 1.3rem;
}

td {
  padding: 0.1rem 0;
}

.login-section {
  max-width: 70%;
  margin: 5rem auto;
}

div::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #fafafa; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: #3298dc; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #fafafa; /* creates padding around scroll thumb */
}

.create-account {
  margin-top: 0.5rem;
}

.color {
  color: #3298dc;
}

.invalid {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}
